<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <meta charset="UTF-8">
    <title>find_password</title>
</head>
<body>
<p id="findPasswordForm">find password</p>
    <input type="text" id="email1" placeholder="email"><br>
    <input type="text" id="name1" placeholder="name"><br>
    <input type="button" id="execute" value="인증메일받기"><br>

<a href="/login">login</a><br>
<a href="/register">sign up</a><br>
<a href="/main">back to main</a>
</body>
</html>