<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <meta charset="UTF-8">
    <title>find_password</title>
</head>
<body>
    <p id="findPasswordForm">find password</p>
    <input type="text" id="email1" placeholder="email"><br>
    <input type="text" id="name1" placeholder="name"><br>
    <input type="button" id="execute" value="인증메일받기"><br>

<div id="input_otp" style="display:none">
    <input type="text" id="otp_number" placeholder="인증번호를 입력해주세요"><br>
    <input type="button" id="check_otp" value="입력"><br>
</div>
<script>
        $('#execute').click(function(){
            var email = $('#email1').val();
            var name = $('#name1').val();

            var postdata = {
                'email':email,
                'name':name
            }
            $.ajax({
                type: 'POST',
                url: '{{ url_for("find_password") }}',
                data: JSON.stringify(postdata),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    if(data.user_ck == '1'){
                        alert('가입하신 이메일로 메일이 전송되었습니다 ! 인증번호를 입력해주세요.')
                        $('#input_otp').show();
                    }else if(data.user_ck == '0'){
                        alert('가입하신 이메일 또는 이름을 정확히 입력해주세요!')
                    }else if (data.user_ck == '2'){
                        alert('모든 정보를 입력해주세요!')
                    }

                },
                error: function(request, status, error){
                    alert('ajax 통신 실패')
                    alert(error);
                }
            })
        })

        $('#check_otp').click(function(){
            var email = $('#email1').val();
            var otp_number = $('#otp_number').val();

            var postdata = {
                'email': email,
                'otp_number':otp_number
            }
            $.ajax({
                type: 'POST',
                url: '{{ url_for("check_otp") }}',
                data: JSON.stringify(postdata),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    if (data.otp_check == true){
                        alert('비밀번호 재설정 페이지로 이동합니다.')
                        window.location.href = '/new_password?email='+email
                    }else {
                        alert('인증번호를 정확히 입력해주세요.')
                    }
                },
                error: function(request, status, error){
                    alert('ajax 통신 실패')
                    alert(error);
                }
            })
        })
    </script>


<a href="/login">login</a><br>
<a href="/register">sign up</a><br>
<a href="/main">back to main</a>
</body>
</html>