<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p id="new_password_form">new password</p>
    <h1> {{ user_email}} 님의 비밀번호 재설정 페이지 입니다.</h1>
    <input type="text" id="password1" placeholder="비밀번호"><br>
    <input type="text" id="password2" placeholder="비밀번호 확인"><br>
    <input type="button" id="execute" value="비밀번호 재설정하기"><br>
<script>
        $('#execute').click(function(){
            var email = '{{ user_email }}';
            var password = $('#password1').val();
            var password_check = $('#password2').val();

            var postdata = {
                'email': email,
                'password':password,
                'password_check': password_check
            }
            $.ajax({
                type: 'POST',
                url: '{{ url_for("new_password") }}',
                data: JSON.stringify(postdata),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    if(data.pass_check == 1){
                        alert('비밀번호가 재설정되었습니다. 새로운 비밀번호로 로그인해주세요!')
                        window.location.href = '/main'
                    }else if (data.pass_check == 0){
                        alert('비밀번호를 정확히 입력해주세요.')
                    }else if (data.pass_check==2){
                        alert('모든 항목을 입력해주세요.')
                    }
                },
                error: function(request, status, error){
                    alert('ajax 통신 실패')
                    alert(error);
                }
            })
        })
    </script>
</body>
</html>